    <footer class="b-footer b-footer--bordered">
        <div class="b-footer__inner">
            <div class="b-footer__col">
                <!--about-->
                <figure class="f-about">
                    <img src="img/logo-small.svg" class="f-about__img" alt="" />
                    <figcaption class="f-about__entry">
                        <a href="index.html">Teambit</a> is everything you need to make your organization a great place to work.
                    </figcaption>
                </figure>
                <!--/about-->
            </div>
            <div class="b-footer__col">
                <a href="index.html" class="b-footer__btn">Learn more about Teambit <i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </footer>
    <!--/FOOTER-->
