    <header class="b-header">
        <div class="b-header__wrapper">
            <nav class="b-header__inner">
                <a href="index.html" class="b-header__logo b-header__logo--digest">Teambit Digest</a>
                <a href="index.html" class="b-header__btn">
                    Check out Teambit
                </a>
                <ul class="h-social">
                    <li class="h-social__item">
                        <a href="https://twitter.com/TeambitHQ" class="h-social__link" rel="nofollow" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li class="h-social__item">
                        <a href="https://www.facebook.com/TeambitHQ" class="h-social__link" rel="nofollow" target="_blank">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li class="h-social__item">
                        <a href="https://www.linkedin.com/company/teambit" class="h-social__link" rel="nofollow" target="_blank">
                            <i class="icon-linkedin"></i>
                        </a>
                    </li>
                    <li class="h-social__item">
                        <a href="http://teambit.io/feed/" class="h-social__link" rel="nofollow" target="_blank">
                            <i class="icon-rss"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>