    <header class="b-header">
        <nav class="b-header__inner">
            <a href="index.html" class="b-header__logo">Teambit</a>
            <ul class="h-menu js-menu">
                <li class="h-menu__item">
                    <a href="pricing.html" class="h-menu__link">Pricing</a>
                </li>
                <li class="h-menu__item">
                    <a href="#" class="h-menu__link">Blog</a>
                </li>
                <li class="h-menu__item">
                    <a href="#" class="h-menu__link">Sign in</a>
                </li>
                <li class="h-menu__item">
                    <button type="button" class="h-menu__btn">
                        <i class="icon-google"></i>
                        Sign up
                    </button>
                </li>
            </ul>
            <button class="b-header__menubtn js-menu-toggle">
                <i class="icon-menu"></i>
            </button>
        </nav>
    </header>