/*Normalize*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   */
[hidden] {
  display: none;
}

template {
  display: none;
}

/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.6666666667em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*Main styles*/
html,
button,
input,
select,
textarea {
  color: #58402c;
}

::-moz-selection {
  background: #cfd7ef;
  text-shadow: none;
}

::selection {
  background: #cfd7ef;
  text-shadow: none;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* Base Styles */
html {
  height: 100%;
  line-height: 1;
}

.page {
  min-height: 100%;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

.page__content {
  font-size: 0.875rem;
  line-height: 1.5;
  min-height: 75vh;
}

.page__content b, .page__content strong {
  font-family: "HarmoniaSansProCyr-SemiBd";
  font-weight: 600;
}

/* Typography*/
h1, h2, h3, h4, h5, h6, .g-title, .b-price__title, .b-subscribe__title, .g-subtitle, .b-quest__title, .content404__title, .b-footer__title {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.2;
  color: #58402c;
  font-family: "HarmoniaSansProCyr-SemiBd";
  font-weight: 600;
}

.g-title, .b-price__title, .b-subscribe__title {
  display: block;
  font-size: 1.75rem;
}

@media screen and (min-width: 48em) {
  .g-title, .b-price__title, .b-subscribe__title {
    font-size: 2.25rem;
  }
}

.g-subtitle, .b-quest__title, .content404__title, .b-footer__title {
  display: block;
  font-size: 1.25rem;
}

/* Links */
a {
  color: #30488f;
}

.g-link {
  text-decoration: none;
}

.g-link:hover {
  text-decoration: underline;
}

.g-link--text, .h-menu__link,
.h-menu a, .f-menu__link,
.f-menu a, .h-social__link,
.h-social a {
  text-decoration: none;
  color: #58402c;
}

.g-link--text:hover, .h-menu__link:hover,
.h-menu a:hover, .f-menu__link:hover,
.f-menu a:hover, .h-social__link:hover,
.h-social a:hover {
  color: #30488f;
}

/* Lists */
ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

ol, ul {
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 15px 0 15px 30px;
}

.g-clearlist, .f-menu, .h-social, .b-price__list, .b-quest__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Blockquote */
blockquote {
  font-size: 120%;
  line-height: 1.6;
  padding: 0 0 0 30px;
  border-left: 2px solid #30488f;
}

cite {
  display: block;
  font-size: 75%;
}

/* Code */
code {
  padding: 2px 5px;
  margin: 0 2px;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #bdb5af;
  border-radius: 7px;
}

pre > code {
  display: block;
  padding: 10px 15px;
  white-space: pre;
}

/* Spacing */
p {
  margin-top: 0;
}

pre,
blockquote,
dl,
figure,
fieldset,
table,
p,
ul,
ol {
  margin-bottom: 15px;
}

/* Misc */
hr {
  margin: 21px 0;
  border-width: 0;
  border-top: 1px solid #bdb5af;
}

/* Transitions */
.g-transition, a, button, input[type="button"], input[type="submit"],
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select, .g-shadow-hover, .b-price__inner, .b-header, .b-header__inner:before, .h-menu, .h-menu__svg path, .page__header a:after {
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

a, button, input[type="button"], input[type="submit"],
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select {
  transition-property: border-color,color,background-color, box-shadow, transform;
}

/* Utilities */
.g-text-center {
  text-align: center;
}

/*.g-img-left{
    float:left;
    margin:0 20px 5px 0;
    @extend .g-max-full-width;
}
.g-img-right{
    float:right;
    margin:0 0 5px 20px; 
    @extend .g-max-full-width;
}*/
.g-full-width {
  width: 100%;
  box-sizing: border-box;
}

/*.g-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}*/
/*.g-as-table{
    display:table;
    width:100%;
    height:100%;
    table-layout:fixed;
}
.g-as-cell{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}*/
.g-img-centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/*.g-video-wrap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.g-video-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border:none;
}*/
/*.g-resp-text{
    font-size:rem(14px);

    @include media($tablet){
        font-size:rem(15px);
    }

    @include media($desktop){
        font-size:rem(16px);
    }
}*/
.g-shadow-hover, .b-price__inner {
  transition-property: box-shadow, border-color;
}

.g-shadow-hover:hover, .b-price__inner:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.g-truncate, .b-price__title, .b-price__meta {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.g-align, .h-menu__svg, .b-price__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.g-valign{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}*/
.g-hidden {
  display: none !important;
  visibility: hidden;
}

.g-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.g-clearfix::after, .g-container__inner::after, .b-price::after, .b-quest__list::after, .b-subscribe::after, .page__tab::after, .f-about::after {
  clear: both;
  content: "";
  display: block;
}

/*Grid*/
.g-container, .b-header__inner, .b-footer__inner {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.g-container::after, .b-header__inner::after, .b-footer__inner::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 75em) {
  .g-container, .b-header__inner, .b-footer__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .g-container__inner {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.g-row {
  display: block;
}

.g-row::after {
  clear: both;
  content: "";
  display: block;
}

/*Default Grid*/
.g-column, .g-col, .b-price__item, .b-quest__item, .b-subscribe__entry,
.b-subscribe__thumb, .b-footer__col, .b-footer__item {
  width: 100%;
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

@media screen and (min-width: 48em) {
  .g-col {
    margin-left: 2.3576520234%;
  }
  .g-col:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 48em) {
  .g-col--one-half {
    width: 48.8211739883%;
  }
  .g-col--one-third {
    width: 31.7615653177%;
  }
  .g-col--two-thirds {
    width: 65.8807826589%;
  }
  .g-col--one-fourth {
    width: 23.2317609825%;
  }
}

/* Buttons */
.g-btn, .b-header__btn, .h-menu__btn,
.h-menu button, .b-price__btn, .b-subscribe__btn, .b-footer__btn,
.g-clearbutton,
.b-header__menubtn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  outline: 0;
  text-align: center;
  text-decoration: none !important;
  white-space: nowrap;
}

.g-clearbutton, .b-header__menubtn {
  border: none;
  background: none;
  padding: 0;
}

.g-btn, .b-header__btn, .h-menu__btn,
.h-menu button, .b-price__btn, .b-subscribe__btn, .b-footer__btn {
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 0.875rem;
  background: #30488f;
  border-radius: 7px;
  border: none;
}

.g-btn:hover, .b-header__btn:hover, .h-menu__btn:hover,
.h-menu button:hover, .b-price__btn:hover, .b-subscribe__btn:hover, .b-footer__btn:hover, .g-btn:focus, .b-header__btn:focus, .h-menu__btn:focus,
.h-menu button:focus, .b-price__btn:focus, .b-subscribe__btn:focus, .b-footer__btn:focus, .g-btn:active, .b-header__btn:active, .h-menu__btn:active,
.h-menu button:active, .b-price__btn:active, .b-subscribe__btn:active, .b-footer__btn:active {
  color: #fff;
  background: #233569;
}

.g-btn:disabled, .b-header__btn:disabled, .h-menu__btn:disabled,
.h-menu button:disabled, .b-price__btn:disabled, .b-subscribe__btn:disabled, .b-footer__btn:disabled {
  opacity: .5;
}

.g-btn:disabled:hover, .b-header__btn:disabled:hover, .h-menu__btn:disabled:hover,
.h-menu button:disabled:hover, .b-price__btn:disabled:hover, .b-subscribe__btn:disabled:hover, .b-footer__btn:disabled:hover, .g-btn:disabled:active, .b-header__btn:disabled:active, .h-menu__btn:disabled:active,
.h-menu button:disabled:active, .b-price__btn:disabled:active, .b-subscribe__btn:disabled:active, .b-footer__btn:disabled:active {
  color: #fff;
  background: #30488f;
}

.g-btn .icon-arrow-right, .b-header__btn .icon-arrow-right, .h-menu__btn .icon-arrow-right,
.h-menu button .icon-arrow-right, .b-price__btn .icon-arrow-right, .b-subscribe__btn .icon-arrow-right, .b-footer__btn .icon-arrow-right {
  font-size: 75%;
}

.g-btn--alt, .h-menu__btn,
.h-menu button, .b-price__btn--alt {
  border: 1px solid #30488f;
  line-height: 33px;
  background: #fff;
  color: #30488f;
}

.g-btn--alt:hover, .h-menu__btn:hover,
.h-menu button:hover, .b-price__btn--alt:hover, .g-btn--alt:focus, .h-menu__btn:focus,
.h-menu button:focus, .b-price__btn--alt:focus, .g-btn--alt:active, .h-menu__btn:active,
.h-menu button:active, .b-price__btn--alt:active {
  background: #30488f;
}

.g-btn--alt:disabled:hover, .h-menu__btn:disabled:hover,
.h-menu button:disabled:hover, .b-price__btn--alt:disabled:hover, .g-btn--alt:disabled:active, .h-menu__btn:disabled:active,
.h-menu button:disabled:active, .b-price__btn--alt:disabled:active {
  background: #fff;
  color: #30488f;
}

/* Forms */
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.g-input, .b-subscribe__input,
.g-select,
.g-textarea {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 21px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  box-shadow: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.g-input::-webkit-input-placeholder, .b-subscribe__input::-webkit-input-placeholder,
.g-select::-webkit-input-placeholder,
.g-textarea::-webkit-input-placeholder {
  color: #bdb5af;
  opacity: 1;
}

.g-input::-moz-placeholder, .b-subscribe__input::-moz-placeholder,
.g-select::-moz-placeholder,
.g-textarea::-moz-placeholder {
  color: #bdb5af;
  opacity: 1;
}

.g-input:-moz-placeholder, .b-subscribe__input:-moz-placeholder,
.g-select:-moz-placeholder,
.g-textarea:-moz-placeholder {
  color: #bdb5af;
  opacity: 1;
}

.g-input:-ms-input-placeholder, .b-subscribe__input:-ms-input-placeholder,
.g-select:-ms-input-placeholder,
.g-textarea:-ms-input-placeholder {
  color: #bdb5af;
  opacity: 1;
}

.g-input:hover, .b-subscribe__input:hover, .g-input:focus, .b-subscribe__input:focus,
.g-select:hover,
.g-select:focus,
.g-textarea:hover,
.g-textarea:focus {
  border-color: #B49982;
  outline: 0;
}

.g-input:hover::-webkit-input-placeholder, .b-subscribe__input:hover::-webkit-input-placeholder, .g-input:focus::-webkit-input-placeholder, .b-subscribe__input:focus::-webkit-input-placeholder,
.g-select:hover::-webkit-input-placeholder,
.g-select:focus::-webkit-input-placeholder,
.g-textarea:hover::-webkit-input-placeholder,
.g-textarea:focus::-webkit-input-placeholder {
  color: #B49982;
}

.g-input:hover::-moz-placeholder, .b-subscribe__input:hover::-moz-placeholder, .g-input:focus::-moz-placeholder, .b-subscribe__input:focus::-moz-placeholder,
.g-select:hover::-moz-placeholder,
.g-select:focus::-moz-placeholder,
.g-textarea:hover::-moz-placeholder,
.g-textarea:focus::-moz-placeholder {
  color: #B49982;
}

.g-input:hover:-moz-placeholder, .b-subscribe__input:hover:-moz-placeholder, .g-input:focus:-moz-placeholder, .b-subscribe__input:focus:-moz-placeholder,
.g-select:hover:-moz-placeholder,
.g-select:focus:-moz-placeholder,
.g-textarea:hover:-moz-placeholder,
.g-textarea:focus:-moz-placeholder {
  color: #B49982;
}

.g-input:hover:-ms-input-placeholder, .b-subscribe__input:hover:-ms-input-placeholder, .g-input:focus:-ms-input-placeholder, .b-subscribe__input:focus:-ms-input-placeholder,
.g-select:hover:-ms-input-placeholder,
.g-select:focus:-ms-input-placeholder,
.g-textarea:hover:-ms-input-placeholder,
.g-textarea:focus:-ms-input-placeholder {
  color: #B49982;
}

.g-input:disabled, .b-subscribe__input:disabled,
.g-select:disabled,
.g-textarea:disabled {
  border-color: #bdb5af;
  box-shadow: inset 0 0 4px rgba(189, 181, 175, 0.8);
}

.g-input.error, .error.b-subscribe__input,
.error > .g-input,
.error > .b-subscribe__input,
.g-select.error,
.error >
.g-select,
.g-textarea.error,
.error >
.g-textarea {
  border-color: #e74c3c !important;
  color: #e74c3c !important;
}

.g-input.error::-webkit-input-placeholder, .error.b-subscribe__input::-webkit-input-placeholder,
.error > .g-input::-webkit-input-placeholder,
.error > .b-subscribe__input::-webkit-input-placeholder,
.g-select.error::-webkit-input-placeholder,
.error >
.g-select::-webkit-input-placeholder,
.g-textarea.error::-webkit-input-placeholder,
.error >
.g-textarea::-webkit-input-placeholder {
  color: #e74c3c !important;
}

.g-input.error::-moz-placeholder, .error.b-subscribe__input::-moz-placeholder,
.error > .g-input::-moz-placeholder,
.error > .b-subscribe__input::-moz-placeholder,
.g-select.error::-moz-placeholder,
.error >
.g-select::-moz-placeholder,
.g-textarea.error::-moz-placeholder,
.error >
.g-textarea::-moz-placeholder {
  color: #e74c3c !important;
}

.g-input.error:-moz-placeholder, .error.b-subscribe__input:-moz-placeholder,
.error > .g-input:-moz-placeholder,
.error > .b-subscribe__input:-moz-placeholder,
.g-select.error:-moz-placeholder,
.error >
.g-select:-moz-placeholder,
.g-textarea.error:-moz-placeholder,
.error >
.g-textarea:-moz-placeholder {
  color: #e74c3c !important;
}

.g-input.error:-ms-input-placeholder, .error.b-subscribe__input:-ms-input-placeholder,
.error > .g-input:-ms-input-placeholder,
.error > .b-subscribe__input:-ms-input-placeholder,
.g-select.error:-ms-input-placeholder,
.error >
.g-select:-ms-input-placeholder,
.g-textarea.error:-ms-input-placeholder,
.error >
.g-textarea:-ms-input-placeholder {
  color: #e74c3c !important;
}

.g-input, .b-subscribe__input,
.g-select {
  height: 35px;
}

.g-textarea {
  min-height: 100px;
}

.g-label {
  display: block;
  margin-bottom: 5px;
}

.g-label.error,
.error > .g-label {
  color: #e74c3c;
}

.g-label__body {
  display: inline-block;
  margin-left: 10px;
  font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/*.g-fieldset{
    position:relative;
}*/
/*.g-fieldset__msg{
    font-size:rem(10px);
    color:$error-color;
    position:absolute;
    left:0; bottom:0;
    font-style:italic;
    display:none;

    .error > &{
        display:block;
    }
}*/
/*HarmoniaSansProCyr-SemiBd*/
@font-face {
  font-family: 'HarmoniaSansProCyr-SemiBd';
  src: url("../fonts/HarmoniaSansProCyr-SemiBd_gdi.eot");
  src: url("../fonts/HarmoniaSansProCyr-SemiBd_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/HarmoniaSansProCyr-SemiBd_gdi.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-SemiBd_gdi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

/*HarmoniaSansProCyr-Regular*/
@font-face {
  font-family: 'HarmoniaSansProCyr-Regular';
  src: url("../fonts/HarmoniaSansProCyr-Regular_gdi.eot");
  src: url("../fonts/HarmoniaSansProCyr-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/HarmoniaSansProCyr-Regular_gdi.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Regular_gdi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

/*Icon Font*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?fruct");
  src: url("../fonts/icomoon.eot?fruct#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fruct") format("truetype"), url("../fonts/icomoon.woff?fruct") format("woff"), url("../fonts/icomoon.svg?fruct#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right {
  transform: translateY(-1px);
}

.icon-twitter:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-google:before {
  content: "\e904";
}

.icon-linkedin:before {
  content: "\e905";
}

.icon-rss:before {
  content: "\e906";
}

.icon-close:before {
  content: "\e907";
}

.icon-menu:before {
  content: "\e908";
}

/*Site Logo*/
.b-header__logo {
  float: left;
  width: 110px;
  height: 35px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-image: url(../img/logo.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.b-header__logo--digest {
  width: 176px;
  background-image: url(../img/logo-digest.svg);
}

/*Site Header*/
.b-header {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
  position: relative;
  z-index: 1000;
  background: #fff;
  transition-property: top, padding;
  will-change: top;
}

.b-header.invisible, .b-header.scrolled {
  position: fixed;
  padding: 10px 0;
  left: 0;
}

.b-header.invisible {
  top: -75px;
}

.b-header.scrolled {
  top: 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.b-header__inner {
  position: relative;
}

.b-header__inner:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #bdb5af;
  transition-property: bottom, left, right;
}

.scrolled .b-header__inner:before {
  bottom: -10px;
  left: -1000px;
  right: -1000px;
}

@media screen and (min-width: 48em) {
  .b-header__inner:before {
    left: 25px;
    right: 25px;
  }
}

@media screen and (min-width: 75em) {
  .b-header__inner:before {
    left: 0;
    right: 0;
  }
}

.b-header__menubtn {
  float: right;
  height: 35px;
  width: 35px;
  font-size: 1rem;
}

.b-header__btn {
  float: right;
  margin-left: 35px;
  display: none;
}

@media screen and (min-width: 48em) {
  .b-header__menubtn {
    display: none;
  }
  .b-header__btn {
    display: block;
  }
}

.b-header--404 {
  background: #ffe7d2;
}

.b-header--404 .b-header__inner:before {
  display: none;
}

.b-header--404 .b-header__inner .b-header__logo {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Header Menu */
.h-menu {
  list-style-type: none;
  padding: 15px 25px;
  margin: 20px 0 0;
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  display: none;
  transition-property: margin;
}

.h-menu.active {
  display: block;
}

.scrolled .h-menu.active,
.invisible .h-menu.active {
  margin: 10px 0 0 0;
}

.h-menu:before, .h-menu:after {
  content: '';
  position: absolute;
}

.h-menu:before {
  height: 0;
  width: 0;
  border-bottom: 8px solid #bdb5af;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -8px;
  right: 35px;
}

.h-menu:after {
  height: 0;
  width: 0;
  border-bottom: 7.5px solid #fff;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  top: -7px;
  right: 36px;
}

.h-menu__item,
.h-menu li {
  display: block;
  font-size: 0.875rem;
}

.h-menu__link,
.h-menu a {
  display: block;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
  font-family: "HarmoniaSansProCyr-SemiBd";
  font-weight: 600;
}

.current > .h-menu__link, .current >
.h-menu a {
  color: #30488f;
  cursor: default;
}

.h-menu__btn,
.h-menu button {
  margin-top: 10px;
}

.h-menu__btn:hover .h-menu__svg path, .h-menu__btn:active .h-menu__svg path, .h-menu__btn:focus .h-menu__svg path,
.h-menu button:hover .h-menu__svg path,
.h-menu button:active .h-menu__svg path,
.h-menu button:focus .h-menu__svg path {
  fill: #fff !important;
}

@media screen and (min-width: 48em) {
  .h-menu {
    display: block !important;
    float: right;
    position: static;
    padding: 0;
    margin: 0 !important;
    top: auto;
    left: auto;
    right: auto;
    box-shadow: none;
  }
  .h-menu:before, .h-menu:after {
    display: none;
  }
  .h-menu__item,
  .h-menu li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
  .h-menu__item:first-child,
  .h-menu li:first-child {
    margin-left: 0;
  }
  .h-menu__link,
  .h-menu a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  .h-menu__btn,
  .h-menu button {
    margin: 0;
  }
}

.h-menu__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  height: 18px;
  width: 18px;
  position: relative;
}

.h-menu__svg path {
  transition-property: fill;
}

@media screen and (min-width: 48em) {
  .scrolled .h-menu__btn,
  .scrolled .h-menu button,
  .invisible .h-menu__btn,
  .invisible .h-menu button {
    background: #30488f;
    color: #fff;
  }
  .scrolled .h-menu__btn:hover, .scrolled .h-menu__btn:focus, .scrolled .h-menu__btn:active,
  .scrolled .h-menu button:hover,
  .scrolled .h-menu button:focus,
  .scrolled .h-menu button:active,
  .invisible .h-menu__btn:hover,
  .invisible .h-menu__btn:focus,
  .invisible .h-menu__btn:active,
  .invisible .h-menu button:hover,
  .invisible .h-menu button:focus,
  .invisible .h-menu button:active {
    background: #233569;
  }
  .scrolled .h-menu__svg path,
  .invisible .h-menu__svg path {
    fill: #fff !important;
  }
}

/*Footer Menu*/
.f-menu__item,
.f-menu li {
  display: block;
  font-size: 0.875rem;
  line-height: 2.4;
}

.current > .f-menu__link, .current >
.f-menu a {
  color: #30488f;
  cursor: default;
}

/*Header Social Link Menu*/
.h-social {
  float: right;
  font-size: 0;
}

.h-social__item,
.h-social li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 1rem;
}

.h-social__item:first-child,
.h-social li:first-child {
  margin-left: 0;
}

.h-social__item:last-child,
.h-social li:last-child {
  display: none;
}

@media screen and (min-width: 30em) {
  .h-social__item:last-child,
  .h-social li:last-child {
    display: inline-block;
  }
}

.h-social__link,
.h-social a {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
}

/*Tabs*/
.b-tabs {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  font-size: 0;
  line-height: 1;
  position: relative;
}

.b-tabs:before {
  content: '';
  display: block;
  height: 1px;
  background: #e1ddd4;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.b-tabs__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
  margin-left: 30px;
}

.b-tabs__item:first-child {
  margin-left: 0;
}

.b-tabs__link {
  display: inline-block;
  padding: 7px 0;
  color: #58402c;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
  font-family: "HarmoniaSansProCyr-SemiBd";
  font-weight: 600;
}

.b-tabs__link:hover, .b-tabs__link:active {
  color: #30488f;
}

.current > .b-tabs__link {
  border-bottom-color: #30488f;
  color: #30488f;
  cursor: default;
}

/*Price List*/
.b-price {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1;
}

@media screen and (min-width: 75em) {
  .b-price {
    margin: 55px auto 20px;
  }
}

@media screen and (min-width: 48em) {
  .b-price__item {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%;
  }
  .b-price__item:last-child {
    margin-right: 0;
  }
  .b-price__item:nth-child(3n) {
    margin-right: 0;
  }
  .b-price__item:nth-child(3n+1) {
    clear: left;
  }
}

.b-price__inner {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 37px;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width: 48em) {
  .b-price__inner {
    max-width: 210px;
    padding: 22px;
  }
}

.b-price__icon {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  position: relative;
}

.b-price__title {
  font-size: 1.875rem;
}

.b-price__meta {
  font-family: "HarmoniaSansProCyr-SemiBd";
  font-weight: 600;
}

.b-price__btn {
  display: block;
  margin: 22px 0;
  width: 100%;
}

.b-price__entry {
  line-height: 1.5;
  font-size: 0.875rem;
}

.b-price__list li {
  display: block;
  margin-bottom: 10px;
}

.b-price__list li:last-child {
  margin-bottom: 0;
}

.b-price__light {
  opacity: .5;
}

/*Questions List*/
.b-quest {
  max-width: 630px;
  margin: 0 auto;
}

.b-quest a {
  color: #58402c;
}

.b-quest a:hover {
  color: #30488f;
}

.b-quest__item {
  margin-bottom: 25px;
}

@media screen and (min-width: 48em) {
  .b-quest__item {
    width: 44.6%;
    margin-right: 10.8%;
  }
  .b-quest__item:nth-child(2n) {
    margin-right: 0;
  }
  .b-quest__item:nth-child(2n+1) {
    clear: left;
  }
}

.b-quest__title {
  font-size: 0.875rem;
}

/*Page 404 content*/
.page--404 {
  background: #ffe7d2;
}

.content404 {
  max-width: 410px;
  margin: 0 auto 21px;
  padding: 30px;
  background: #fff;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  text-align: center;
  box-sizing: border-box;
}

.content404__img {
  margin-bottom: 20px;
}

.content404__entry {
  text-align: left;
}

/*Subscribe (Digest) block*/
.b-subscribe {
  max-width: 835px;
  margin: 0 auto;
}

.b-subscribe__entry,
.b-subscribe__thumb {
  text-align: center;
}

.b-subscribe__entry {
  font-size: 1.25rem;
  line-height: 1.5;
}

.b-subscribe__title {
  margin-bottom: 20px;
}

.b-subscribe__form {
  margin: 35px 0;
  text-align: left;
  font-size: 0;
}

.b-subscribe__btn {
  width: 100%;
}

@media screen and (min-width: 30em) {
  .b-subscribe__input {
    width: 48.8211739883%;
    margin-bottom: 0;
  }
  .b-subscribe__btn {
    width: 48.8211739883%;
    margin-left: 2.3576520234%;
  }
}

@media screen and (min-width: 48em) {
  .b-subscribe__entry {
    width: 59.880239521%;
    text-align: left;
  }
  .b-subscribe__thumb {
    width: 40.119760479%;
    text-align: right;
  }
  .b-subscribe__input {
    width: 240px;
  }
  .b-subscribe__btn {
    width: auto;
  }
}

/*Page Common Elements*/
.page__section {
  padding: 25px 0;
}

.page__section--alt {
  padding: 45px 0;
  background: #ffe7d2;
}

.page__header {
  margin-bottom: 35px;
  text-align: center;
}

.page__header .g-title, .page__header .b-price__title, .page__header .b-subscribe__title {
  margin-bottom: 5px;
}

.page__header p {
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  line-height: 1.5;
}

.page__header a {
  display: inline-block;
  white-space: nowrap;
  color: #58402c;
  position: relative;
  text-decoration: none;
}

.page__header a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  border-top: 1px solid #58402c;
  transition-property: border-color;
}

.page__header a:hover {
  color: #30488f;
}

.page__header a:hover:after {
  border-top-color: #30488f;
}

.page__tab h1, .page__tab h2, .page__tab h3, .page__tab h4, .page__tab h5, .page__tab h6 {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.page__tab p {
  margin-bottom: 30px;
}

.page__date {
  margin: 7px 0 30px;
  color: #897e64;
}

.page__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  z-index: 999;
}

/*Footer About Block*/
.f-about {
  text-align: center;
}

.f-about__img {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

.f-about__entry {
  max-width: 390px;
  margin: 0 auto;
  font-family: "HarmoniaSansProCyr-SemiBd";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
}

.f-about__entry a {
  text-decoration: none;
}

.f-about__entry a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 48em) {
  .f-about {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .f-about__img {
    float: left;
  }
  .f-about__entry {
    margin: 0 0 0 70px;
  }
}

@media screen and (min-width: 62em) {
  .f-about {
    margin: 0;
  }
}

/*Site Footer*/
.b-footer {
  padding: 60px 0 25px;
}

.b-footer--bordered .b-footer__inner {
  position: relative;
}

.b-footer--bordered .b-footer__inner:before {
  content: '';
  display: block;
  position: absolute;
  top: -60px;
  left: 25px;
  right: 25px;
  border-top: 1px solid #bdb5af;
}

@media screen and (min-width: 75em) {
  .b-footer--bordered .b-footer__inner:before {
    left: 0;
    right: 0;
  }
}

.b-footer__col {
  text-align: center;
}

@media screen and (min-width: 62em) {
  .b-footer__col {
    width: 48.8211739883%;
    margin-left: 2.3576520234%;
    text-align: left;
  }
  .b-footer__col:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 75em) {
  .b-footer__col {
    width: 53.8211739883%;
  }
  .b-footer__col:first-child {
    width: 43.8211739883%;
  }
}

@media screen and (min-width: 48em) {
  .b-footer__item {
    width: 33.3333333333%;
    padding-right: 15px;
    text-align: left;
  }
  .b-footer__item:last-child {
    padding-right: 0;
  }
}

.b-footer__title {
  font-size: 1.125rem;
}

.b-footer__btn {
  margin: 7px 0;
}

@media screen and (min-width: 62em) {
  .b-footer__btn {
    float: right;
  }
}

/*Print Styles*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
