@import "../modules/base";

@import "header/_logo.scss";
/*Site Header*/
.b-header{
    height:75px;
    position:relative;
    margin-bottom:40px;
    position:relative;
}

.b-header__wrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:10px 0;
    z-index:1000;
    background:#fff;
    @extend .g-transition;
    will-change:top, transform;

    @include media($tablet){
        position:absolute;
        padding:20px 0;
        transition-property:transform;

        .invisible > &,
        .scrolled > &{
            position:fixed;
            padding:10px 0;
            top:-75px;
        }

        .scrolled > &{
            transform:translateY(75px);
            box-shadow:0 1px 1px 1px rgba(#000,.08);
        }
    }
}

.b-header__inner{
    @extend .g-container;
    position:relative;

    &:before{//border bottom
        content:'';
        display:block;
        position:absolute;
        bottom:-10px;
        left:0; right:0;
        border-bottom:1px solid $border-color;
    }

    @include media($tablet){
        &:before{
            bottom:-20px;
            left:25px;
            right:25px;
        }

        .scrolled &:before {
            bottom:-10px;
            left:-1000px;
            right:-1000px;
        }
    }

    @include media($large){
        &:before{
            left:0;
            right:0;
        }
    }
}


//header buttons
.b-header__menubtn{//mobile menu toggle button
    @extend .g-clearbutton;
    float:right;
    @include size(35px);
    font-size:rem(16px);
}

.b-header__btn{//checkout button
    @extend .g-btn;
    float:right;
    margin-left:35px;
    display:none;
}

@include media($tablet){
    .b-header__menubtn{
        display:none;
    }

    .b-header__btn{
        display:block;
    }
}


//404 header modify
.b-header--404{
    background:$bg-alt;
    .b-header__inner{
        &:before{
            display:none;
        }

        .b-header__logo{
            float:none;
            display:block;
            margin-left:auto;
            margin-right:auto;
        }
    }
}