@import "base";
/* Buttons */
.g-btn,
.g-clearbutton{
    display:inline-block;
    vertical-align:middle;
    cursor: pointer;
    box-sizing: border-box;
    outline:0;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
}

.g-clearbutton{
    border:none;
    background:none;
    padding:0;
}

.g-btn{
    height:35px;
    line-height:35px;
    padding:0 20px;
    color:#fff;
    font-size:rem($project-font-size);
    background: $primary;
    border-radius:$border-radius;
    border:none;
    position:relative;

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        background:darken($primary, 10%);
    }

    &:disabled,
    &.disabled{
        opacity:.5;

        &:hover,
        &:active{
            color:#fff;
            background: $primary;
        }
    }

    .icon-arrow-right{
        font-size:75%;
    }
}

.g-btn--alt{
    border:1px solid $primary;
    line-height:33px;
    background:#fff;
    color:$primary;

    &:hover,
    &:focus,
    &:active{
        background:$primary;
    }

    &:disabled{
        &:hover,
        &:active{
            background:#fff;
            color:$primary;
        }
    }
}

//success states & icons
.g-btn__icon{
    display:none;
    @include size(16px);
    line-height:16px;
    position:absolute;
    font-size:12px;
    left:2px;
    top:50%;
    margin-top:-9px;
}

.g-btn--sent{
    .g-btn__icon--sent{
        display:block;
        animation: rotating 2s linear infinite;
    }
}

.g-btn--success{
    .g-btn__icon--success{
        display:block;       
    }
}

@include keyframes(rotating){
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}



