@import "base";
/*Grid*/
.g-container {
    @include outer-container();
    padding:0 25px;
    box-sizing:border-box;
}

.g-container__inner{
    @extend .g-clearfix;
}

.g-container--inner{
    max-width:860px;
}

@include media($large){
    .g-container{
        padding-left:0;
        padding-right:0;
    }
    .g-container__inner{
        padding-left:50px;
        padding-right:50px;
    }
}

.g-row{
    @include row();  
}


/*Default Grid*/
.g-column{
    width: 100%;
    float: left;
    box-sizing: border-box;
    min-height:1px;
}
.g-col{
  @extend .g-column;

  @include media($tablet){
      margin-left:$grid-gutter;
      &:first-child{
          margin-left:0;
      }    
  }
}

@include media($tablet){
    .g-col--one-half{
        width:(100%-$grid-gutter)/2;
    }
    
    .g-col--one-third{
        width:(100%-$grid-gutter*2)/3;
    }
    .g-col--two-thirds{
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
    }
    .g-col--one-fourth{
        width:(100% - $grid-gutter*3)/4;
    }
}


/*img-grid*/
.b-grid{
    font-size:0;
    padding:0 25px;
}
.b-grid__wrap{
    font-size:$project-font-size;
    box-sizing:border-box;
}
.b-grid__wrap--full{
    text-align:center;
    overflow-x:hidden;

    &.b-grid__wrap--left{
        margin-bottom:30px;
    }
}

.b-grid__wrap--xl{
    display:none;
}

@include media($desktop){
    .b-grid{
        padding:0;
    }
    .b-grid__wrap{
        width:50%;
        display:inline-block;
        vertical-align:top;
    }

    .b-grid__wrap--sm{
        display:none;
    }
    .b-grid__wrap--xl{
        display:inline-block;
    }
    .b-grid__wrap--full{
        margin-bottom:0;
    }
    
    .b-grid__wrap--left{
        padding-right:10px;
        .b-grid__inner{
            float:right;
        }
    }
    .b-grid__wrap--right{
        padding-left:10px;
    }
    .b-grid__inner{
        width:420px;
    }

    .b-grid__img{
        max-width:none;
    }
    .b-grid__img--left{
        float:right;
    }
    .b-grid__img--right{
        float:left;
    }
}

