@import "base";
/*Grid*/
.g-container {
    @include outer-container();
    padding:0 25px;
    box-sizing:border-box;
}

.g-container__inner{
    @extend .g-clearfix;
}

@include media($large){
    .g-container{
        padding-left:0;
        padding-right:0;
    }
    .g-container__inner{
        padding-left:50px;
        padding-right:50px;
    }
}

.g-row{
    @include row();  
}


/*Default Grid*/
.g-column{
    width: 100%;
    float: left;
    box-sizing: border-box;
    min-height:1px;
}
.g-col{
  @extend .g-column;

  @include media($tablet){
      margin-left:$grid-gutter;
      &:first-child{
          margin-left:0;
      }    
  }
}

@include media($tablet){
    .g-col--one-half{
        width:(100%-$grid-gutter)/2;
    }
    
    .g-col--one-third{
        width:(100%-$grid-gutter*2)/3;
    }
    .g-col--two-thirds{
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
    }
    .g-col--one-fourth{
        width:(100% - $grid-gutter*3)/4;
    }
}
