@import "base";
/*Main styles*/
html,
button,
input,
select,
textarea {
    color: $text-color;
}

@include selection{
    background: lighten($primary, 50%);
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

img{
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Base Styles */
html{
    height:100%;
    line-height: 1;
}

.page{//body style
    min-height:100%;
    font-family: $font-regular, Arial, sans-serif;    
}

.page__content{
    font-size:rem($project-font-size);
    line-height:strip-units($project-line-height/$project-font-size);
    min-height:75vh;

    b, strong{
        font-family:$font-title;
        font-weight:600;
    }
}

/* Typography*/
h1, h2, h3, h4, h5, h6, .g-title, .g-subtitle{
  margin-top: 0;
  margin-bottom: 15px;
  line-height:1.2;
  color:$title-color;
  font-family:$font-title;
  font-weight:600;
}
.g-title{
    display:block;
    font-size:rem(28px);

    @include media($tablet){
        font-size:rem(36px);
    }
}

.g-title--alt{
    line-height:1.533334;

    img{
        vertical-align:baseline;
        transform:translateY(3px);
    }
}

.g-subtitle{
    display:block;
    font-size:rem(20px);
}


/* Links */
a {
  color: $primary; }
.g-link{
    text-decoration:none;

    &:hover{
        text-decoration:underline;
    }
}

.g-link--text{
    text-decoration:none;
    color:$text-color;

    &:hover{
        color:$primary;
    }
}

.g-big-text{
    font-size:rem(20px);
}

/* Lists */
ul {
    list-style: disc outside; }
ol {
    list-style: decimal outside; }
ol, ul {
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 15px 0 15px 30px;
}

.g-clearlist{
    list-style-type:none;
    margin:0;
    padding:0;
}

/* Blockquote */
blockquote{
    font-size:120%;
    line-height:1.6;
    padding: 0 0 0 30px;
    border-left:2px solid $primary;
}
cite{
    display:block;
    font-size:75%;
}

/* Spacing */
p {
  margin-top: 0; }


pre,
blockquote,
dl,
figure,
fieldset,
table,
p,
ul,
ol{
    margin-bottom: 15px;
}

/* Misc */
hr {
    margin: $project-line-height 0;
    border-width: 0;
    border-top: 1px solid $border-color;
}

/* Transitions */
.g-transition{
	transition-duration:.2s;
    transition-timing-function:ease-in;
}
a, button{
    transition-property:border-color,color,background-color, box-shadow, transform;
    @extend .g-transition;
}
